[submodule "u7"]
	path = u7
	url = https://github.com/vinhtran26092001/TranQuangvinh269.git
[submodule "edge-connect"]
	path = edge-connect
	url = https://github.com/vinhtran26092001/TranQuangvinh269.git
